body {
	font-family: "acumin-pro",sans-serif;
	font-size: 18px;
	color: #88847F;
	line-height: 1.44;
	margin:0;	
}


.title {
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Playfair Display', serif;
	color: #2D2825;
	font-weight: normal;
}

.title--centre{
	text-align: center;
}

.title--quote{
	font-size: 30px;
	font-style: italic;
	color: rgba(46,41,38,.8);
	font-weight: normal;
	
}
.title--section{
	display: block;
    position: relative;
    
}
.title--section:after{
    content:"";
    display: block;
    width: 73px;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background: url(img/bg-nav.png) repeat-x;
}
.title--section--baner:after{
    content:"";
    display: block;
    width: 73px;
    height: 5px;
    position: absolute;
    left: 7%;
    bottom: -20px;
    transform: translateX(-50%);
    background: url(img/bg-nav.png) repeat-x;
}
.title--small{
	font-size: 30px;
}
.titlesans {
	font-family: "acumin-pro",sans-serif;
	font-size: 24px;
	color: #2D2825;
	font-weight: 700;
	line-height: 1.2;
	text-decoration: none;
}
.titlesans--small {
	font-size: 18px;

}
.titlesans--up {
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 15px;
}
.p--light{
	font-weight: 300;
	color: #2D2825;
}
.hide{
	display: none;
}
.title a, .titlesans a{
	text-decoration: none;
	color: #2D2825;
}
/*Les liens*/
.logo a {
	background-image: url(img/logo-hardgraft.png);
	background-repeat: no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.link {
	font-size: 12px;
	color: #2D2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
}

.link--arrow {
	border-bottom: 2px #2D2825 solid;
	padding: 8px 0;
}

.link--arrow:before{
	content: "> ";
}
.link--more {
	border: 1px solid #2D2825;
	padding:19px 20px 20px 48px;
	border-radius: 5px;
	background: url(img/seeallarrow.png) no-repeat;
	background-position: 20px center;
}
/*image*/
.section--banner{
	background: url(img/iphonecase-big.png) no-repeat right center, 
	url(img/bg-banner.png);
}


.section--main{
	background: url(img/bg-glass.png) no-repeat left top,
	url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
}

.section--incarnation{
	background: url(img/bg-glass2.png) no-repeat left bottom,
	url(img/bg-men.png) no-repeat right 290px,
	url(img/bg-incarnation.png) no-repeat center top;
	background-size: auto, auto, 100% 290px;
	padding-top: 290px;
}

.incarnation{
	background: url(img/icon-designer.png) no-repeat center top;
	padding-top: 85px;
}


.incarnation--details{
	background-image: url(img/icon-details.png);
}

.incarnation--craft{
	background-image: url(img/icon-leather.png);
}

.section--footer{
	background: url(img/bg-footer.png)
	no-repeat #363433 70% bottom;
	font-family: 'Playfair Display', serif;
	color: #fff;
}
.credit{
	background-color: #141817;
	background-color: rgba(26,24,23,.4);
}

/*les listes*/
.nav_header{
    padding: 0;
	margin: 0;
	list-style: none;
    float: right;
}
.nav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav__el{
	float: left;
	margin-left: 40px;
}
.nav__el a{
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 700;
	color: #2D2825;
	text-decoration:none;

	display: inline-block;
	height: 80px;
	line-height: 80px;
	opacity: .4;
}
.nav__el--actif a, .nav__el a:hover, .nav__el a:focus{
	opacity: 1;
	background: url(img/bg-nav.png)repeat-x left 60px;
	outline:0;
}
.nav__el--shop a{
    background: #d9c6ac url(img/cart.png) no-repeat 20px center;
    color: #8a7d6c;
    line-height: 40px;
    width: 60px;
    height: 40px;
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
    border-radius: 3px;
    opacity: 1;
}
.nav__el--shop a:hover, 
.nav__el--shop a:focus{
    background: #d9c6ac url(img/cart.png) no-repeat 20px center;
    color: #000;
}
.footer__el{
    text-decoration: none;
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px
}
.footer__el a{
	color: #fff;
	text-decoration: none;
}
/*layout*/ 
header{
	position:relative;
	height: 80px;	
}
.logo{
	position: absolute;
	top: 15px;
	left: 0;
	margin: 0;
}
.nav{
	float: left;
    -webkit-columns: 100px 2;
    -moz-columns: 100px 2;
    columns: 100px 2;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
}

.container{
	width: 1200px;
	margin: 0 auto;
}
	.container--banner{
		padding-right: 620px;
		width: 580px;
    }
.section--banner{
	height: 260px;
	padding: 160px 0 177px;
}
.title--quote{
	width: 450px;
	margin: 35px auto;
	position: relative;
}
	.title--quote:before{
		content: "“";
		font-size: 80px;
		color: #EAE9E9;
		position: absolute;
		top: -21px;
		left: -40px;
	}
    .title--quote:after{
		content: "”";
		font-size: 80px;
		color: #EAE9E9;
		right: 10px;
		top: 30px;	
		position: absolute;
	}
.product{
	margin: 0;
	padding: 0;
	list-style: none;
}
.product__el{
	width: 374px;
	float: left;
	margin: 0 39px 40px 0;
}
.product__el--big{
	width: 580px;
}
.product__el:nth-child(3n+2){
	margin-right: 0;
}
.section--main{
	padding: 100px 0 80px;
}
.product__info{
	background-color: #fff;
	padding: 29px 30px 33px 32px;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.titlesans__product {
	margin-top: 0;
}
.product__img{
	display: block;
}
.center {
	text-align: center;
}
.incarnation {
	float: left;
	width: 374px;
	margin: 0 39px 40px 0;
}
.incarnation:nth-child(4) {
	margin-right: 0;
}
.section--incarnation{
	padding-bottom: 80px;
}
.col3 {
	/* 4 col de la grille */
	width: 374px;
	margin: 0 39px 40px 0;
	float: left;
}
.col4 {
	/* 3 col de la grille */
	width: 270px;
    float: right;
}
.fr { float: right;}
.fl { float: left; }
.credit {
	clear: both;
	height: 37px;
	line-height: 37px;
    color: #fff;
}
.btn{
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
}
.btn__add{
    background-color: #d9c6ac;
    width: 105px;
    height: 30px;
    font-family: "acumin-pro",sans-serif;
    font-weight: bold;
	color: #2D2825;
    border-radius: 5px;
    position: absolute;
    top: 30px; 
    right: 30px;
}
.btn__add__small{
    width: 72px;
}
.btn__us{  
    position: absolute;
    right:0;
    top: 55px;
    width: 120px;
    opacity: 0.4;
}
.btn__us_small{
    top: 43px;
}
.btn__whishlist{
	color: #ED1433;
	font-weight: bold;
	text-transform: uppercase;
	background: url(img/icon-heart-full.png) 
	left center no-repeat;
	padding-left: 28px;
	height: 14px;
	display: inline-block;
}
.btn__whishlist__grey{
	opacity: 0.4;
	font-weight: bold;
	text-transform: uppercase;
	background: url(img/icon-heart.png) 
	left center no-repeat;
	padding-left: 28px;
	height: 14px;
	display: inline-block;
}
.small__a{
    color: #fff;
    text-decoration: none;
    font-family: 'acumin pro', sans-serif;
    text-transform: uppercase;
}
input[type=text] {
    padding: 13px 29px 13px 13px;
    border: 1px solid #888686;
    background-color: #4a4948;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding-left: 20px;
}
input[type=submit] {
    padding: 13px 20px 13px 20px;
    border: 1px solid #888686;
    background-color: #4a4948;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color:#fff;
    text-align: center;
    position: absolute;
}
.youremail{
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    height: 55px;
    list-style: none;
    padding: 0;
}















